/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--panel-2);
  border-radius: 10px;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--panel-1);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--panel-1) var(--panel-2);
}

/* .element-selector {
  scrollbar-width: thin;
  scrollbar-color: var(--panel-2) transparent;
}

.element-selector::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.element-selector::-webkit-scrollbar-track {
  background: transparent;
}

.element-selector::-webkit-scrollbar-thumb {
  background-color: var(--panel-2);
  border-radius: 10px;
  border: 2px solid transparent;
}

.element-selector::-webkit-scrollbar-thumb:hover {
  background-color: var(--panel-1);
} */
