<html>
<head>

<link rel="stylesheet" href="{{ url_for("static", filename="stylesheet.css") }}"></link>

</head>
<body>
<script src="{{ url_for("static", filename="socket.io.js") }}" type="text/javascript"></script>

<div id="idkwhatthisis">
    <div id="channels">
        <ul id="channel_list"></ul>
    </div>
    <div id="messagearea-outer">
        <div id="messagearea"></div>
    </div>
</div>
<!--
<div id="login">
    <label id="uname_label" for="uname">Username</label>
    <input id="uname_input" type="text" placeholder="Enter Username" name="uname" class="login_input" required>
    <label id="pw_label" for="psw">Password</label>
    <input id="pw_input" type="password" placeholder="Enter Password" name="psw" class="login_input" required>
    <button id="login_button">Login</button>
</div>-->

<input rows="1" autofocus="true" id="msgbox"></input>
<script>
let socket = io();

document.getElementById("msgbox").onkeypress = function(key) {
    if (key.keyCode === 13) {
        let elem = document.getElementById("msgbox");
        socket.send({req: "send_message", message: elem.value});
        elem.value = "";
    }
}

//document.getElementById("idkwhatthisis").style.display = "none";

socket.on("message", function(data) {
    let total_html = "";
    for (const val of data["messages"]) {
        const small = false;
        let smalltxt = "";
        if (small) {
            smalltxt = "small-";
        }
        let image_html = "";
        if (!small) {
            image_html = `
            <span class="pfp">
                <img src="/aster/pfp/${val["author_uuid"]}.png" class="pfp_image"></img>
            </span>
            `;
        }
        const html = `
        <div class="${smalltxt}message">
            ${image_html}
            <span class="${smalltxt}uname">${val["author"]}: </span>
            <p class="${smalltxt}msgbody">${val["content"]}</p>
            <p class="${smalltxt}msgdate">12/05/22 14:32</p>
        </div>
        `;

        total_html += html;
    }
    let elem = document.getElementById("messagearea");
    elem.innerHTML += total_html;
    elem.scrollTop = elem.scrollHeight;
});

socket.on("channels", function(data) {
    let elem = document.getElementById("channel_list");
    for (const channel of data) {
        const name = channel["name"];
        //basically what this atrosity does is
        //add # onto the start of the channel name if it doesn't already start with # or &
        const prefix = name.charAt(0) == '&' ? '' : (name.charAt(0) == '#' ? '' : '#');
        const html = `
            <button class="channel_item" onclick="changeChannel('${name}')">${prefix}${name}</button>
        `;
        elem.innerHTML += html;
    }
});

function changeChannel(channel) {
    let elem = document.getElementById("messagearea");
    elem.innerHTML = "";
    socket.send({req: "change_channel", channel: channel}); 
}

</script>
</body>
</html>
