<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="{{ url_for("static", filename="stylesheet.css") }}">
<title>Aster</title>
</head>
<body>
<script src="{{ url_for("static", filename="socket.io.js") }}" type="text/javascript"></script>

<div id="idkwhatthisis">
<div class="top">
    <div class="server-list">
        <div class="server-module"><img src="{{ url_for("static", filename="republic.jpg") }}" class="server-icon"></div>
        <div class="server-module">
            <img src="{{ url_for("static", filename="cospox.png") }}" class="server-icon">
            <div class="module-user-indicator"></div>
            <img src="{{ url_for("static", filename="server_select.png") }}" class="server-selection-indicator">
        </div>
        <div class="server-module-disabled"><img src="{{ url_for("static", filename="hhv3.png") }}" class="server-icon-disabled"></div>
    </div>
    <button id="add-server"><img src="{{ url_for("static", filename="add.png") }}" class="icon"></button>
    <button id="settings"><img src="{{ url_for("static", filename="default_pfp.png") }}" class="pfp" id="pfp_button"></button>
</div>

<div class="server-header">
    <h1 class="server-name">Cospox</h1>
    <div class="user-indicator"></div>
    <h1 id="server-user-label" class="server-status-label">n/a online</h1>
    <img src="{{ url_for("static", filename="ping.png") }}" class="ping-indicator">
    <h1 id="server-ping-label" class="server-status-label">17ms</h1>
    <div class="server-header-seperator"></div>
    <button id="server-notifs"><img src="{{ url_for("static", filename="bell.png") }}" class="icon-small"></button>
</div>

<div id="server-area">
    <div id="server-channels">
        <ul id="channel-list">
        </ul>
    </div>
    <div id="server-chat">
        <input rows="1" autofocus="true" id="server-chat-msgbox" placeholder=" Send a message">
        <div id="message-area">
            <div class="message">
            </div>
        </div>
    </div>
</div>
</div>
<!--
<div id="idkwhatthisis">
    <div id="topcontent">
        <div id="servers"></div>
        <div id="buttons">
            <button id="add_server"><img src="{{ url_for("static", filename="add.png") }}"></button>
            <button id="settings"><img src="{{ url_for("static", filename="settings.png") }}"></button>
        </div>
    </div>
    <br>
    <div id="servercontent">
        <div id="channels">
            <ul id="channel_list"></ul>
        </div>
        <div id="messagearea-outer">
            <div id="message-area"></div>
        </div>
        <div id="emojis"><p>test</p><p>test2</p></div>
    </div>
    <input rows="1" autofocus="true" id="msgbox">
</div>-->

<div id="login">
    <label id="sync_ip_label" for="sync_ip_input">Sync&nbsp;server&nbsp;IP&nbsp;<span id="sync_info"><a href="{{ url_for("static", filename="sync_help.html") }}">info</a></span></label>
    <input id="sync_ip_input" type="text" placeholder="Enter IP" class="login_input" required>
    <label id="sync_port_label" for="sync_port_input">Sync&nbsp;server&nbsp;port</label>
    <input id="sync_port_input" type="text" placeholder="Enter port" class="login_input" required>
    <label id="uname_label" for="uname_input">Username</label>
    <input id="uname_input" type="text" placeholder="Enter Username" class="login_input" required>
    <label id="pw_label" for="pw_input">Password</label>
    <input id="pw_input" type="password" placeholder="Enter Password" class="login_input" required>
    <button id="login_button">Login</button>
    <button id="register_button">New here? Register</button>
</div>

<div id="loading" style="display: none;">
    <p style="text-align: center;">Loading...</p>
</div>

<div id="prefs" class="popup">
    <span id="s_t_uname">Username</span>
    <input id="s_uname">

    <span id="s_t_pfp">Profile Picture</span>
    <button id="s_pfp">test</button>

    <span id="s_t_passwd">Password</span>
    <input type="password" id="s_passwd">

    <button id="s_cancel">Cancel</button>
    <button id="s_ok">Ok</button>
</div>

<div id="new_server" class="popup">
    <span id="n_t_ip">IP</span>
    <input id="n_ip">

    <span id="n_t_port">Port</span>
    <input id="n_port">
    <div id="n_buttons">
        <button id="n_cancel">Cancel</button>
        <button id="n_ok">Ok</button>
    </div>
</div>

<div id="error_box" class="popup">
    <span id="error_msg"></span>
    <button id="e_ok">Ok</button>
</div>

<div id="background_fade"></div>

<script src="{{ url_for("static", filename="aster.js") }}">
</script>
</body>
</html>
