// fonts
$font-body-sans: "Atkinson Hyperlegible", sans-serif;
$font-body-mono: "Red Hat Mono", monospace;

// width definitions
$mobile-width: 830px;
$mini-width: 1400px;

// colour palette
$p-panel-0: #1e2329;
$p-panel-1: #272e39;
$p-panel-2: #31363F;
$p-panel-3: #3c424f;

$p-accent-light: #be8fd0;
$p-accent-dark: #a776bb;

$p-text-white: #d3d3d3;
$p-text-dark: #1b0a24;
$p-text-gray: #929292;

// radii & margins
// outer r = inner r + margin
$radius-1: 36px;
$margin-1: 20px;
$radius-2: 16px;
$margin-2: 10px;
$radius-3:  6px;