/* variables */
:root {
  --panel-0: #1e2329;
  --panel-1: #272e39;
  --panel-2: #31363F;
  --panel-3: #3c424f;

  --accent-1-light: #be8fd0;
  --accent-1-dark: #a776bb;

  --white-1: #d3d3d3;

  --text-dark: #1b0a24;
  --text-gray: #929292;
}

/* fonts */
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.red-hat-mono-regular {
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-mono-italic {
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: "Atkinson Hyperlegible", sans-serif;;
}

/* styles */
input, textarea, button {
    border: 1px none;
    border-radius: 6px;
    color: var(--white-1);
    background-color: var(--panel-1);
}

button {
  cursor: pointer;
}

button:hover {
  background-color: var(--panel-0);
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--panel-0);
    color: var(--white-1);
}

input:focus {
    outline: none;
}

#app, main {
  width: 100%;
  height: 100%;
}

.separator {
  /* border-top: 3px solid var(--panel-3); */
  background-color: var(--panel-3);
  height: 3px;
  border-radius: 3px;
  width: 80%;
  margin: 0 auto;
}

.pixel-img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
