/* variables ---------------------------------------------------------------- */
:root {
  /* colours */
  --panel-0: #1e2329;
  --panel-1: #272e39;
  --panel-2: #31363F;
  --panel-3: #3c424f;

  --accent-1-light: #be8fd0;
  --accent-1-dark: #a776bb;
  --accent-2: #c0a0ff;

  --white-1: #d3d3d3;

  --text-dark: #1b0a24;
  --text-gray: #929292;

  /* radii & margins */
  /* intended to function well together */
  /* outer r = inner r + margin */
  --radius-1: 36px;
  --margin-1: 20px;
  --radius-2: 16px;
  --margin-2: 10px;
  --radius-3:  6px;

  /* fonts */
  --font-body-sans: "Atkinson Hyperlegible", sans-serif;
  --font-body-mono: "Red Hat Mono", monospace;

  --font-size-body: 15px;
}

/* font boilerplate --------------------------------------------------------- */
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.red-hat-mono-regular {
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-mono-italic {
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

/* base styles -------------------------------------------------------------- */
* {
  font-family: var(--font-body-sans);
}

/* body */
body, 
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--panel-0);
  color: var(--white-1);
}
#app,
 main {
   height: 100%;
  width: 100%;
}

/* interactables */
input, textarea, button {
    color: var(--white-1);
    background-color: var(--panel-1);

    border: 1px none;
    border-radius: var(--radius-3);
}
button, select {
  cursor: pointer;
}
button:hover {
  background-color: var(--panel-0);
}
input:focus {
  outline: none;
}

/* global ------------------------------------------------------------------- */
hr {
  height: 3px; 
  width: 90%; 
  
  margin: 0 auto; 
  margin-bottom: 16px; 
  
  background-color: var(--panel-3); 
  
  border: none
}

.pixel-img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  shape-rendering: crispEdges;
}

a:link {
  color: var(--accent-2);
}
a:visited {
  color: var(--accent-2);
}

/* dialogs ------------------------------------------------------------------ */
.con-dialog-row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  
  font-size: var(--font-size-body);
}

/* used for full width text in dialogs */
.con-dialog-row p {
  width: 100%;
  margin: 0;
}

/* used for input labels */
.con-dialog-row span {
  width: 40%;
  
  margin: 0;
  
  /* padding to make the text look aligned
  with the left edge because the buttons
  below have rounded corners */
  padding-left: 3px;
  
  text-align: left;
}

.con-dialog-row input {
  height: 30px;
  width: 60%;
  
  padding-left: 10px;
}

.con-dialog-row button {
  height: 30px;
  width: 100%;
}