/* variables ---------------------------------------------------------------- */
:root {
  /* colours */
  --panel-0: black;
  --panel-1: black;
  --panel-2: black;
  --panel-3: black;

  --accent-1-light: white;
  --accent-1-dark: black;
  --accent-2: white;

  --white-1: white;

  --text-dark: black;
  --text-gray: white;
}

button {
  border: white 2px solid !important;
  transition: 0.3s;
}
button:hover {
  background-color: white !important;
  color: black !important;
}
select{
  border: white 2px solid !important;
  transition: 0.3s;
}
select:hover {
  background-color: white !important;
  color: black !important;
}
hr {
  background-color: white;
  height: 2px;
}

/* PageLogin */
.pan-login {
  border: white 2px solid !important;
  border-bottom: white 2px solid !important;
}
.btn-login:hover {
  background-color: black !important;
  border: white 2px solid !important;
  color: white !important;
}
.con-login-input input {
  border: white 2px solid !important;
}

/* PageMain */
.btn-addserver,
.btn-account {
  border: white 2px solid !important;
}
.btn-aster:hover {
  border: white 2px solid !important;
}

/* ServerListButton */
.btn-server {
  border: white 2px solid !important;
}

/* PanelServerView */
.con-server-area {
  border-left: white 2px solid !important;
  border-bottom: white 2px solid !important;
}
.pan-server-messages {
  border-left: white 2px solid !important;
}
.inp-message {
  border: white 2px solid !important;
}

/* ChannelListButton */
.btn-channel {
  background-color: black !important;
  border: black 2px solid !important;
  border-bottom: white 2px solid !important;
  color: white !important;
  margin-bottom: 10px !important;
}
.btn-channel:hover {
  background-color: white !important;
  color: black !important;
}

/* ServerMessage */
.con-message:hover {
  border-left: white 2px solid !important;
  border-right: white 2px solid !important;
}

/* Dialog */
.pan-bg-darken {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.pan-dialog {
  border: white 2px solid !important;
}
.pan-dialog input {
  border: white 2px solid !important;
}
.pan-dialog label span{
  border: white 2px solid !important;
}